.Tesla {
    text-align: center;
  }
  
  * {
    color: black;
    font-family: Tahoma;
    margin: 0;
  }

  .placeholder{
    height: 41px;
  }
  
  header {
    border: red solid 2px;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: white;
  }
  
  .img {
    margin-top: 2px;
  }
  
  .Picture{
    width: 1000px;
  }

  button{
    background-color: white;
    border: black solid 2px;
    Width: 150px;
   border-radius: 2px;
   font-family: sans-serif;
   }